

<h1>CDV Song Docker App</h1>
<h2>Hello <%= current_user.email %></h2>

<!--<button type="button" class="btn btn-primary"><%#= link_to 'Songs', songs_path, class: "text-dark btn" %></button>-->
<%#= button_to "delete", destroy_user_session_path, :method => "delete" %>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://applemobile.pl/wp-content/uploads/2018/04/Ikona1-6.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Best Music</h5>
      <p class="card-text">Only Best music in WEB!</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://www.fumcwl.org/files/69/Pictures/music.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Listen Everywhere</h5>
      <p class="card-text">Your best music on every device whit internet connection</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://www.pngmart.com/files/3/Music-PNG-Photos.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Upload</h5>
      <p class="card-text">Share music whit friends!</p>
    </div>
  </div>
</div>
